
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(70, 65, 65);
    font-family: Poppins;
}

#nav-bar{
    top: 0;
}
.navbar{
    background-color: #222121;
    padding: 0;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff!important;
    font-weight: 600px;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
.nav-link:hover{
    border-color: grey!important;
    color: rgb(255, 187, 0)!important;
}


/*Banner*/
.banner{
    width: 100%;
    height: auto;
    min-height: 1000px;
    background-image: url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   padding: 200px 0 100px 0;  
}
.banner h6{
    color: white;
    font-style: italic;
    font-size: 30px;
    margin-top: 100px;
}
.banner h1{
    color: white;
    font-size: 50px;
    margin-top: 30px;
}

.link{
    padding: 10px 27px;
    background-color: rgb(255, 187, 0)!important;
    color: white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
}



/*Services*/
#services{
    padding: 80px 0;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.services h1{
    font-weight: bold;
}
.services p{
    color: #757070;
}
.title{
    font-style: italic;
    color: #757070;
}
.icons{
    background-color: rgb(255, 187, 0)!important;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    color: #fff;
    margin-top: 30px;
    padding: 30px;
}



/*Portfolio*/
#portfolio{
    padding: 80px 0;
    background-color: #f7f3f3;
}
.portfolio{
    padding: 20px;
}
.portfolio h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.portfolio h1{
    font-weight: bold;
}
.portfolio p{
    color: #757070;
}
.image p{
    font-style: italic;
    color: #757070;
}



/*About*/
#about{
    padding: 80px 0;
}
.about{
    padding: 20px;
}
.portfolio h1{
    font-weight: bold;
}
.about h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
/*.first{
    display: flex;
    flex-direction: row;
}
.primo h1{
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}
.primo h2{
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}
.primo p{
    text-align: right;
    font-size: 18px;
    color: #757070;
}

.secondly{
    display: flex;
    justify-content: right;
}

.second h1{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}
.second h2{
    text-align: left;
    font-weight: bold;
    font-size: 25px;
}
.second p{
    text-align: left;
    font-size: 18px;
    color: #757070;
}
.lasting{
    display: flex;
    justify-content: center;
}
.last{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #c0b8b8;
    background-color: rgb(255, 187, 0)!important;
}
.last h1{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 50px;
    color: #fff;
}




/*Team*/
#team{
    padding: 80px 0;
    background-color: #f7f3f3;
}
.team{
    padding: 20px;
}
.portfolio h1{
    font-weight: bold;
}
.team h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.titre{
    color: #757070;
}
.picture{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #c0b8b8;
}

/*Part*/
.partie{
    margin: 40px;
}



/*Footer*/
#footer{
    padding: 80px 0;
    background-image: url(images/mappp.jpg)
}
.footer{
    padding: 20px;
}
.footer h1{
    font-weight: bold;
    color: #fff;
}
.footer h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
 .footer input{
    border: 1px solid rgb(218, 31, 31);
    height: 70px;
 }
 .footer textarea{
    height: 300px;
    border: 1px solid rgb(255, 187, 0)!important;
 }

/*Foot*/
#foot{
    padding: 20px;
}
#foot p{
    color: #757070;
}
.icon{
    background-color: black;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 20px;
    margin: 10px;
}

